body {
  background-image: url("Images/BR.jpg");
  width: auto;
}

.navbar-expand-lg {
  background-color: blueviolet;
}

.navbar {
  background-color: blueviolet;
}

.bg-body-tertiary {
  background-color: blueviolet;
}

.my-4 {
  background-color:#007FFF;
  width: auto;
  text-align: center;
  color: white;
  background-size: 50px;
}
